<div class="container">
	<h1>Name:  <%= @book.name %></h1> 
	<h2>Category:  <%= @book.category.title %></h2> 
	<h3><%#= @book.author.name %></h3> 
    <%= image_tag @book.image.url(:medium) %>   
	<p> <%= @book.description %></p> 


	    	<%= link_to 'back', books_path(@book) %>
	<% if user_signed_in? %>

		<% if @book.user_id == current_user.id %>
				
	    	<%= link_to 'Edit', edit_book_path(@book) %>
	    	<%= link_to 'Delete', book_path(@book),
               	  method: :delete,
                	 data: {confirm: 'Do you want to remove this book?'} %> 
    	<% end %>             
    <% end %>             

</div>
