<div class="container-2">	
	<div class="img-wrap">
        <div class="book-image">
		  	<div class="best-seller-show">БЕСТСЕЛЛЕР</div>
      	 	<img class="image" src=" <%= @book.image.url(:medium) %>" alt="book" >

			<div class="info">
			<a class="edit-book" href="<%= edit_book_path %>">
		     <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>

				Авторы:
			    <% @book.authors.each do |a| %>
					<div class="author">
				 		<label> <%= a.name %> </label> <br>
				 	</div>
			    <% end %> 

				<h4 class="category">Категория: <%= @book.category.title %></h4> 
				<h1 class="name" style="font-size: 20px;">  <%= @book.name %></h1> 
				
				<div class="button"> <%= @book.cost %> руб. </div>

				<hr style="width:100%;">
				<h3 class="about" style="font-weight: bold;"> О чем эта книга </h3>
				<p class="description"> <%= @book.description %> </p>
			</div>
		</div>
	</div>
	<hr style=" margin-top: 70px; " >


		<!-- comment section -->

	
	<div class="comment-section">
		
		<div class="comments">
			<%= render @book.reviews %>	
		</div>
		

		<hr style="width:100%;">

		<div class="render-form" style="display: none;">
			<%= render :partial => '/reviews/form', :review => @book.reviews.build %>
		</div>
		
		
		<div class="btn-js">
			<button type="button" class="btn btn-default"> Напишите отзыв о книге </button>
		</div>
	</div>	
</div>
             

	
<script>

$(document).ready(function(){  
	$('.btn-js').click(function(){ 
		$('.render-form').slideToggle('slow');
	});

});


$('.review-rating').raty({
	readOnly: true,
	score: function() {
		return $(this).attr('data-score')
	},
	path: '/assets/'
});
</script>	
	







           

