<!DOCTYPE html>
<html>
  <head>
    <title>RaitingForBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link async href="http://fonts.googleapis.com/css?family=Gochi%20Hand" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

  </head>
  <body>  
     <!-- navbar start -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
     <% if user_signed_in? %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><img src="/book.png" width="50px" height="50px" style="margin-top: -15px;" alt="book"></a>
      <a class="navbar-brand" href="<%= root_path %>">Books<span>.com</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= new_book_path %>">Добавить Книгу<span class="sr-only">(current)</span></a></li>
        <li><a href="<%= new_author_path %>">Добавить Автора</a></li>
        <li><a href="<%= new_category_path %>">Добавить Категорию</a></li>

      
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Искать книгу..." name="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= edit_user_registration_path(current_user) %> ">Edit profile</a></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>  
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-default navbar-btn' %>
          <%= link_to 'Log in', new_user_session_path, class: 'btn btn-default navbar-btn' %>
 
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- navbar end -->

 <style> .ser{visibility: hidden;} </style>
  <%= form_tag books_path, :method => 'get' do  %>
      <%= hidden_field_tag :search , params[:search] %>
      <%= submit_tag "Search", class: 'ser' %>
  <% end %>
 
          

   
    <footer class="footer">
        <div class="wrapper">
          <p class="footer-text" >"I have always imagined that Paradise will be a kind of library."</p>
          <p class="footer-text" id="author">Jorge Luis Borges</p>
        </div>
    </footer>

 
    <%= yield %>
  </body>
</html>
